@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2");
    font-display: swap;
}

body {
font-family: "PT Sans", sans-serif;
font-size: 18px ;
line-height:21px ;
color: #000000;
background-color: #ffffff;
}

.page-header {
color: #000000;
background-color: #ffffff;
}

.navigation-link {
font-size: 20px ;
line-height: 26px ;
font-weight: 700;
text-align: center;
text-decoration: none;
color: inherit;
}

.main-index {
background-image: url("images/banner/index-background.jpg");
color: #000000;
background-color: #ffffff;
background-size: 100%;
background-repeat: no-repeat;
}

.advantages-title {
font-size: 30px ;
line-height: 36px ;
font-weight: 700;
text-align: center;
}

.advantages-heading {
font-size: 22px ;
line-height: 26px ;
text-align: center;
}

.advantages-numbered-item {
color: #ffffff;
text-align: center;
background: #82B3D3;
}

.advantages-numbered-sabtitle {
font-size: 24px ;
line-height: 28px ;
font-weight: 700;
background: #82B3D3;
}

.advantages-item {
color: #000000;
background-color: #ffffff;  
}

.advantages-subtitle {
font-size: 24px ;
line-height: 28px ;
font-weight: 700;
}

.hotel-search {
font-size: 22px ;
line-height: 26px ;
text-align: center;

}