@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("2059873-sedona-34/fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("2059873-sedona-34/fonts/ptsans-700.woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.main-index {
    background-image: url("2059873-sedona-34/images/banner/index-background.jpg");
    color: #000000;
    background-color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
}

.advantages-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-heading {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-numbered-item {
    color: #000000;
    text-align: center;
    background: #ffffff;
}

.advantages-numbered-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    background: inherit;
    text-transform: uppercase;
}

.advantages-item {
    color: #000000;
    background-color: #ffffff;
}

.advantages-item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.advantages-item-number{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.hotel-search {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.hotel-search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-search-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.user-mail {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-image: url("/2059873-sedona-34/images/background.jpg");
   }

.user-mail-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-newsletter {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;  
}

.social-list {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.page-footer {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400; 
    color: #000000;
    background-color: #ffffff;
}
.social-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400; 
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.social-link {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

